// Shared with web client and login screen
.o_home_menu_background {
    background: url(/web_backend/static/src/img/home-menu-bg-overlay.svg),
        //linear-gradient(to right bottom, #77717e, #c9a8a9);
        linear-gradient(to right bottom, #345060, #557f98);
    background-size: cover;
}

.o_main_navbar {
    position: relative !important;
    height: 46px !important;
    border-bottom: 1px solid #121c21 !important;
    background-color: #243742 !important;
    color: white !important;
}
.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover {
    background-color: #121c21 !important;
}

.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus{
    background-color: #121c21 !important;
}

.o_main_navbar .show .dropdown-toggle{
    background-color: #121c21 !important;
}

.o_loading{
    background-color: #243742 !important;
}

.datepicker .table-sm >thead{
    background-color: #243742 !important;
}

.datepicker .table-sm > thead > tr:first-child th:hover {
  background-color: #121c21 !important;
}

.o_searchview .o_searchview_facet .o_searchview_facet_label{
    background-color: #243742 !important;
}